<!-- footer -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-6 col-sm-2">
				<ul class="nav--menu-tertiary">
					<li><span class="title">About</span></li>
					<li><a href="#">Identità</a></li>
					<li><a href="#">Servizi</a></li>
					<li><a href="#">Processo</a></li>
					<li><a href="#">Governance</a></li>
				</ul>
			</div>
			<div class="col-6 col-sm-2">
				<ul class="nav--menu-tertiary">
					<li><span class="title">Portfolio</span></li>
					<li><a href="#">Stands</a></li>
					<li><a href="#">Eventi</a></li>
					<li><a href="#">Mostre e musei</a></li>
					<li><a href="#">Showroom e negozi</a></li>
				</ul>
			</div>
			<div class="col-6 col-sm-2">
				<ul class="nav--menu-tertiary">
					<li><span class="title">Magazine</span></li>
					<li><a href="#">Ultimi eventi</a></li>
					<li><a href="#">Eventi 2020</a></li>
					<li><a href="#">Eventi 2019</a></li>
				</ul>
			</div>
			<div class="col-6 col-sm-2">
				<ul class="nav--menu-tertiary">
					<li><span class="title">Contatti</span></li>
					<li><a href="#">Sedi</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<div class="nav--social">
					<li><a href="#"><svg class="facebook"><use xlink:href="#facebook"></use></svg></a></li>
					<li><a href="#"><svg class="instagram"><use xlink:href="#instagram"></use></svg></a></li>
					<li><a href="#"><svg class="twitter"><use xlink:href="#twitter"></use></svg></a></li>
					<li><a href="#"><svg class="linkedin"><use xlink:href="#linkedin"></use></svg></a></li>
					<li><a href="#"><svg class="youtube"><use xlink:href="#youtube"></use></svg></a></li>
				</div>
			</div>
		</div>
		<div class="row row--colophon">
			<div class="col-sm-4">
				<a href="#" class="btn--link">Privacy Policy</a> - <a href="#" class="btn--link">Cookie Policy</a>
			</div>
			<div class="col-sm-4">
				STIPA S.p.A. - p.IVA 00118590447
			</div>
			<div class="col-sm-4">
				<a href="https://www.websolute.com/"><svg class="websolute"><use xlink:href="#websolute"></use></svg></a>
			</div>
		</div>
	</div>
</footer>
