<header class="header header-v2" header>
	<div class="container">
		<div class="group--header">
			<div class="group--left">
				<a href="/stipa/" class="brand"><svg class="logo-stipa"><use xlink:href="#logo-stipa"></use></svg></a>
			</div>
			<div class="group--center">
				<!--@@var=path-->
			</div>
			<div class="group--right">
				<button type="button" class="btn--search" (click)="onSearchToggle($event)"><svg class="search"><use xlink:href="#search"></use></svg></button>
				<button type="button" class="btn--hamburger" (click)="onMainToggle($event)"><svg class="hamburger"><use xlink:href="#hamburger"></use></svg></button>
			</div>
		</div>
	</div>
	<!-- @@include ./header-main-menu-v2.html -->
	<div class="main-search header-opening" [class]="{ active: searchActive }">
		<div class="container">
			<div class="group--header">
				<div class="group--left">
					<a href="/stipa/" class="brand"><svg class="logo-stipa"><use xlink:href="#logo-stipa"></use></svg></a>
				</div>
				<div class="group--right">
					<!-- <button type="button" class="btn--hamburger" (click)="onMainToggle($event)"><svg class="hamburger"><use xlink:href="#hamburger"></use></svg></button> -->
					<button type="button" class="btn--close" (click)="onSearchToggle($event)"><svg class="close"><use xlink:href="#close"></use></svg></button>
				</div>
			</div>
			<div class="group--main">
				<form class="form form--positive" (submit)="onSearch()" action="/stipa/search.html" name="search" role="form" novalidate autocomplete="off">
					<input class="form--control" [formControl]="controls.search" placeholder="Search" type="text" />
					<button type="submit" class="btn--submit-search"><svg class="search"><use xlink:href="#search"></use></svg></button>
				</form>
			</div>
			<div class="group--footer">
				<div class="group--left"></div>
				<div class="group--right">
					<a href="#" class="btn--language">EN</a>
				</div>
			</div>
		</div>
	</div>
</header>
