<header class="header" header (toggle)="onMenuToggle($event)">
	<div class="container">
		<div class="group--header">
			<div class="group--left">
				<!--
				<div class="btn--menu" (click)="toggleAside($event)" (clickOutside)="dismissAside($event)"><svg class="icon"><use xlink:href="#menu"></use></svg></div>
				-->
				<ul class="nav--secondary-menu">
					<li><span (click)="onMainToggle($event)">Menu</span></li>
					<li><a href="#">En</a></li>
				</ul>
			</div>
			<div class="group--center">
				<a href="/stipa/" class="brand"><svg class="stipa-badge"><use xlink:href="#stipa-badge"></use></svg></a>
			</div>
			<div class="group--right">
				<ul class="nav--secondary-menu">
					<li><a href="/stipa/downloads.html">Downloads</a></li>
					<li><a href="/stipa/contacts.html">Contacts</a></li>
				</ul>
			</div>
			<!--
			<div class="group--actions" *if="user">
				<a href="/stipa/events-favourite.html" class="btn--circle" *if="favourites.length">
					<svg class="icon"><use xlink:href="#star"></use></svg><span class="count" [innerHTML]="favourites.length"></span>
				</a>
				<div class="avatar" [innerHTML]="user.avatar"></div>
				<div class="btn--circle" (click)="toggleNotification($event)" (clickOutside)="dismissNotification($event)">
					<svg class="icon"><use xlink:href="#bell"></use></svg><span class="count" [innerHTML]="notifications.length"></span>
				</div>
			</div>
			-->
		</div>
	</div>
	<div class="main-menu" [class]="{ active: mainActive }">
		<div class="container">
			<div class="group--header">
				<div class="group--left">
					<ul class="nav--secondary-menu">
						<li><span (click)="onMainToggle($event)">Menu</span></li>
						<li><a href="#">En</a></li>
					</ul>
				</div>
				<div class="group--center">
					<a href="/stipa/" class="brand"><svg class="stipa-badge"><use xlink:href="#stipa-badge"></use></svg></a>
					<!-- <a href="/stipa/" class="brand"><svg class="stipa-light-engineering-black"><use xlink:href="#stipa-light-engineering-black"></use></svg></a> -->
				</div>
				<div class="group--right">
					<ul class="nav--secondary-menu">
						<li><a href="/stipa/downloads.html">Downloads</a></li>
						<li><a href="/stipa/contacts.html">Contacts</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="group--main-menu">
				<ul class="nav--primary-menu">
					<li [class]="{ open: isSubOpen(1) }">
						<span (click)="onOpenSub(1)" (clickOutside)="onCloseSub(1)">Yacht Lighting Collection</span>
						<ul>
							<li><a href="/stipa/exclusive-yachts-exteriors.html">For Interiors</a></li>
							<li><a href="/stipa/exclusive-yachts-exteriors.html">For Exteriors</a></li>
						</ul>
					</li>
					<li [class]="{ open: isSubOpen(2) }">
						<span (click)="onOpenSub(2)" (clickOutside)="onCloseSub(2)">Villa Lighting Collection</span>
						<ul>
							<li><a href="/stipa/exclusive-yachts-exteriors.html">For Interiors</a></li>
							<li><a href="/stipa/exclusive-yachts-exteriors.html">For Exteriors</a></li>
						</ul>
					</li>
					<li><a href="#">Otto-Portable</a></li>
					<li><a href="/stipa/bespoke.html">Bespoke</a></li>
					<li [class]="{ open: isSubOpen(3) }">
						<span (click)="onOpenSub(3)" (clickOutside)="onCloseSub(3)">Lighting Systems</span>
						<ul>
							<li><a href="#">Lighting Surfaces</a></li>
							<li><a href="#">Straight Track</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav--primary-menu" [class]="{ hidden: isPrimaryHidden() }">
					<li><a href="/stipa/we-know-light.html">We Know Light</a></li>
					<li><a href="/stipa/heritage.html">Heritage</a></li>
					<li><a href="/stipa/how-we-do.html">How we do</a></li>
					<li><a href="/stipa/stipa-world.html">Stipa World</a></li>
					<li><a href="/stipa/contacts.html">Contacts</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
