<div class="slider__container" slider [items]="sliderItems" [current]="sliderIndex" (tween)="onTween($event)" (change)="onChange($event)" *if="sliderItems">
	<div class="slider__wrapper" [style]="wrapperStyle">
		<div class="slider__inner">
			<div class="slider__slide" *for="let item of items; let index = index;">
				<div class="picture">
					<img [src]="item" ondragstart="return false;" />
				</div>
			</div>
		</div>
	</div>
	<div class="slider__pagination">
		<button type="button" class="btn--prev" [class]="{ disabled: !hasPrev() }" (click)="navTo(state.current - 1)">
			<svg class="caret-left"><use xlink:href="#caret-left"></use></svg>
		</button>
		<button type="button" class="btn--next" [class]="{ disabled: !hasNext() }" (click)="navTo(state.current + 1)">
			<svg class="caret-right"><use xlink:href="#caret-right"></use></svg>
		</button>
	</div>
	<div class="slider__bullets">
		<span class="slider__bullet" [class]="{ active: index === state.current }" *for="let item of items; let index = index;" (click)="navTo(index)"></span>
	</div>
</div>
