.section--hero-secondary {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 48px 0;
	background: black;
	color: white;

	.picture {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.title {
		@extend %title-hero;
		margin-bottom: 24px;
	}

	.abstract {
		@extend %abstract;
	}

	// hack IE 11
	height: calc(100vh - 90px);
	@media (-webkit-min-device-pixel-ratio:0) {
		height: auto;
		min-height: calc(100vh - 90px);
	}
}

.section--text {
	padding: 80px 0;

	.text {
		@extend %abstract;
		line-height: 1.4;
	}
}

.section--gallery {

	&__badge {
		margin-bottom: 16px;
	}

	&__title {
		@extend %title-secondary;
		margin-bottom: 32px;
	}

	@include media-up(sm) {
		padding: 0 0 80px 0;
	}

	@include media-down(xs) {
		padding: 0 0 40px 0;
	}
}

.slider--gallery {
	width: 100%;
	color: #ffffff;

	.slider__slide {
		.card--gallery {
			.picture {
				img {
					opacity: 0.8;
					transform: scale(1.1, 1.1);
					transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 250ms;
				}
			}
		}

		&.active {
			.card--gallery {
				.picture {
					img {
						opacity: 1;
						transform: scale(1, 1);
					}
				}
			}
		}
	}

	.slider__pagination {
		display: flex;
		justify-content: space-between;

		.group--right {
			display: flex;
			align-items: center;
		}
	}

	.btn--prev,
	.btn--next {
		width: 40px;
		height: 40px;
		border: 1px solid #152154;
		color: #152154;

		svg {
			width: 7px;
			height: 14px;
			fill: currentColor;
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.card--gallery {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	background: #000;
	white-space: normal;

	&>.picture {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&>img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
		}

		@include media-up(sm) {
			@include aspect-clip(1058, 595);
		}

		@include media-down(xs) {
			@include aspect-clip(5, 4);
		}
	}

	&>.container {
		position: absolute;
		bottom: 0;
	}

	.category {
		@extend %category;
		color: $foreground-negative;
	}

	.title {
		@extend %title-secondary;
		max-width: 360px;
		color: $foreground-negative;
	}

	p {
		margin: 0;
	}

	& p+p {
		margin-top: 10px;
	}

	@include media-up(sm) {

		&>.container {
			padding: 40px 48px;
		}
	}

	@include media-down(xs) {

		&>.container {
			padding: 16px;
		}

		.btn--card {
			.label {
				font-size: 16px;
			}
		}
	}
}

.section--picture-full {
	@include media-up(sm) {
		.picture {
			@include aspect-clip(1440, 687);
		}
	}

	@include media-down(xs) {
		.picture {
			@include aspect-clip(5, 4);
		}
	}
}

.section--quote {
	padding: 80px 0;

	.quote {
		position: relative;
		padding-left: 32px;
		@extend %abstract;
		font-weight: 400;
		line-height: 1.4;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 4px;
			height: 100%;
			left: 0;
			top: 0;
			background: $foreground;
		}
	}
}

.section--picture-text,
.section--text-picture {

	.row {
		align-items: center;
	}

	.badge {
		margin-bottom: 24px;
	}

	.title {
		@extend %title-secondary;
		margin-bottom: 40px;
	}

	.abstract {
		margin-bottom: 32px;
	}

	.picture {
		@include aspect-clip(1, 1);
	}

	@include media-up(sm) {
		padding: 0 0 80px 0;
	}

	@include media-down(xs) {
		padding: 0 0 48px 0;

		.col-sm-7 {
			order: 1;
		}

		.col-sm-4 {
			order: 2;
		}

		.picture {
			margin-bottom: 24px;
		}

		.group--cta {
			margin-bottom: 32px;
		}
	}
}

.section--contacts-simple {
	padding: 80px 0;
	// margin-bottom: 80px;
	background: $background-primary;
	color: $foreground-negative;

	.row {
		align-items: center;
	}

	.badge {
		margin-bottom: 24px;
	}

	.title {
		font-size: 40px;
		line-height: 1.2;
		margin-bottom: 32px;
	}

	.abstract {
		margin-bottom: 32px;
	}
}

.section--contacts-simple+.section--case-studies {
	margin-top: 80px;
}

.picture--gallery {
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		opacity: 0;
		transition: all ease-in-out 350ms;
		z-index: 1;
	}

	&>img {
		transition: all ease-in-out 350ms;
	}

	&:hover {
		&>img {
			transform: scale(1.05, 1.05);
		}

		&:after {
			opacity: 1;
		}
	}

	.icon {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 16px;
		bottom: 16px;
		z-index: 2;
	}
}
