.section--hero-generic {
	position: relative;
	display: flex;
	flex-direction: column;
	background: black;
	color: white;
	min-height: 40vh;

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		&>img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			// @extend %lazy;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: radial-gradient(ellipse at center, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .3) 90%);
		}
	}

	.container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 40px;
	}

	.category {
		@extend %btn;
		display: flex;
		align-items: center;
		margin-left: 10px;
		font-family: $font-secondary;
		font-style: italic;
		font-size: 18px;
		text-transform: uppercase;

		em {
			font-size: 0;
			line-height: 1;
			display: block;
			width: 14px;
			height: 1px;
			margin: 0 4px 0 7px;
			background: #fff;
		}
	}

	.title {
		@extend %title-secondary;
	}
}

.section--text-long {
	padding: 80px 0;

	.title {
		@extend %subtitle;
	}

	.subtitle {
		font-family: $font-primary;
		font-size: 21px;
		line-height: 1.5;
		font-weight: $font-regular;

		@include media-down(sm) {
			font-size: 19px;
		}
	}

	.description {
		font-size: 14px;
		line-height: 1.5;

		ul,
		ol {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;
		}

		ol {
			&>li {
				font-family: $font-secondary;
				font-style: italic;
				font-size: 1.3em;
				line-height: 1.2;
				margin-bottom: 10px;
			}
		}

		ul {
			&>li {
				display: flex;
				margin-bottom: 5px;

				&:before {
					content: '';
					display: block;
					flex: 0 0 8px;
					width: 8px;
					height: 8px;
					border-radius: 4px;
					background: #A28850;
					margin-right: 10px;
					margin-top: 7px;
				}
			}
		}
	}
}

.listing--table {
	display: flex;
	flex-direction: column;
    padding: 20px 0 40px 0;

	&>.listing__item {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.label, .value {
			flex: 1 1 auto;
			max-width: 50%;
		}
		.label {
			font-family: $font-secondary;
			font-style: italic;
			font-size: 16px;
			color: #03191D;
		}
		.value {
			font-size: 14px;
			color: #A28850;
		}
	}
}

table {
    width: 100%;
    margin: 20px 0 40px 0;
    border-collapse: collapse;
	border-style: solid;
	border: 0;

	tr {
		border: 0;

		td {
			max-width: 50%;
			border: 0;
			font-size: 14px;
			color: #A28850;

			&:first-child {
				font-family: $font-secondary;
				font-style: italic;
				font-size: 16px;
				color: #03191D;
			}
		}

		&:first-child {
			td {
				font-size: 1.2em;
				font-weight: 600;
			}
		}
	}
}
