.nav--secondary-menu {
	@extend %nav;
	width: auto;

	&>li {
		@extend %nav-item;
		margin-right: 80px;

		&:last-child {
			margin-right: 0;
		}

		&>a,
		&>span {
			@extend %btn;
			font-size: 16px;

			&,
			&:active,
			&:focus,
			&:visited {
				color: white;
			}

			&:hover,
			&.active {
				color: rgba(white, 0.5);
			}
		}
	}

	@include media-down(xs) {
		display: flex;

		&>li {
			margin-right: 15px;
		}
	}
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 7px 0;
	z-index: 10;
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

	.brand {
		line-height: 0;

		svg {
			width: 140px;
			height: 55px;
		}
	}

	@include media-down(xs) {

		.brand {
			svg {
				width: 100px;
				height: 40px;
			}
		}

		.btn--search {
			display: none;
		}
	}
}

.group--header,
.group--footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	.group--left {
		flex: 1 1 auto;
	}

	.group--right {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	@include media-up(sm) {
		height: 76px;
	}

	@include media-down(xs) {
		height: 64px;
	}
}

.btn--search {
	@extend %btn;

	display: flex;
	align-items: center;
	justify-content: center;

	.search {
		width: 21px;
		height: 21px;
	}
}

.btn--hamburger {
	@extend %btn;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 48px;

	.hamburger {
		width: 26px;
		height: 14px;
	}
}

.btn--close {
	@extend %btn;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 48px;

	.close {
		width: 20px;
		height: 20px;
		fill: #004987;
	}
}

.btn--language {
	@extend %btn;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 48px;
	font-weight: 400;
}

.group--main-menu {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 76px);
	justify-content: center;

	@include media-up(md) {
		&>.container {
			max-width: 74%;
		}
	}
}

.main-menu, .main-search {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	top: 0;
	pointer-events: none;
	z-index: 100000;
	background: $background;
	color: $foreground;
	clip-path: inset(0 0 100vh 0);
	// opacity: 0;
	transition: all ease-in-out 350ms;

	&>.container {
		height: 100%;
	}

	&.active {
		pointer-events: all;
		clip-path: inset(0 0 0 0);
		// opacity: 1;
	}

	.group--header,
	.group--footer {
		height: 84px;
	}

	.group--main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: calc(100% - 168px);
	}

	.container {
		flex-direction: column;
	}

	&>.container-fluid {
		flex: 1 1 auto;
	}

	@include media-up(lg) {
		&>.container-fluid {
			padding: 0 40px;
		}
	}

	.brand {
		svg {
			width: 120px;
			height: 48px;
		}
	}

	&__background {
		position: relative;
		width: 100%;
		padding-bottom: 10px;

	}

	&__picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0.3;

		&>img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.main-menu {
	&__background {
		position: relative;
		width: 100%;
		padding-bottom: 10px;
	}

	&__picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0.3;

		&>img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.nav--primary-menu {
	@extend %nav-vertical;
	align-items: center;
	width: 100%;

	&>li {
		@extend %nav-item;
		flex: 0 1 auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 24px 0;
		opacity: 0;

		&>a,
		&>span {
			@extend %btn;
			position: relative;
			line-height: 1;
			white-space: nowrap;

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: -8px;
				background: $foreground;
				transition: all ease-in-out 350ms;
			}

			&,
			&:active,
			&:focus,
			&:visited,
			&:hover {
				color: $foreground;
			}

			&:hover {

				&:after {
					transform: scale(0, 1);
				}
			}
		}

		.arrow-down {
			position: absolute;
			right: -36px;
			top: 50%;
			width: 14.5px;
			height: 8px;
			transition: all ease-in-out 350ms;

			@include media-down(xs) {
				width: 10.8px;
				height: 6px;
				right: -24px;
				margin-top: -1px;
			}
		}

		&.secondary {
			&>a,
			&>span {

				&:after {
					transform: scale(0, 1);
				}

				&,
				&:active,
				&:focus,
				&:visited,
				&:hover {
					color: $foreground;
				}

				&:hover {

					&:after {
						transform: scale(1, 1);
					}
				}
			}
		}

		&>ul {
			@extend %nav-reset;
			position: relative;
			display: flex;

			&>li {
				@extend %nav-item;

				&>a {
					@extend %btn;
					font-size: 2vw;
					line-height: 1.5;
					transform: translateY(-1px);

					&,
					&:active,
					&:focus,
					&:visited,
					&:hover {
						color: $foreground;
					}

					&:hover {
						color: darken($foreground, 40%);
						transform: translateY(1px);
					}
				}
			}

			@include media-up(sm) {
				justify-content: center;
				align-items: center;
				display: none;
				border-bottom: 1px solid $foreground;
				padding: 24px 0 16px 0;

				&>li+li {
					margin-left: 32px;
				}
			}

			@include media-down(xs) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				display: none;
				border-bottom: 1px solid $foreground;
				padding: 24px 0 16px 0;

				&>li {
					padding: 16px 0;
				}
			}
		}

		&:hover {
			&:after {
				width: 0;
			}
		}

		&.active {

			.arrow-down {
				transform: rotate(180deg);
			}

			&>ul {
				display: flex;
				clip-path: inset(0 0 0 0);

				@include media-up(sm) {
					animation: clip-right 350ms 350ms cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
				}

				@include media-down(xs) {
					animation: clip-bottom 350ms 350ms cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
				}
			}

		}

	}

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	@include media-up(lg) {
		&>li {

			&>a,
			&>span {
				font-size: 48px;
				line-height: 1.1;
			}

			&>ul {
				&>li {

					&>a,
					&>span {
						font-size: 24px;
						line-height: 1;
					}
				}
			}
		}
	}

	@include media-between(sm, md) {
		&>li {

			&>a,
			&>span {
				font-size: 48px;
				line-height: 1.1;
			}

			&>ul {
				&>li {

					&>a,
					&>span {
						font-size: 24px;
						line-height: 1;
					}
				}
			}
		}
	}

	@include media-down(xs) {
		&>li {

			&>a,
			&>span {
				font-size: 34px;
			}

			&>ul {
				&>li {

					&>a,
					&>span {
						font-size: 16px;
					}
				}
			}
		}
	}

	@include media-down(xs) {
		&>li {
			&:after {
				flex: 1 0 80px;
				min-width: 80px;
				line-height: 1.2;
			}

			&>a,
			&>span {
				font-size: 34px;
			}

			&>ul {
				&>li {

					&>a,
					&>span {
						font-size: 16px;
					}
				}
			}
		}
	}

}

.nav--path {
	@extend %nav;

	@include media-down(xs) {
		display: flex;
	}

	&>li {
		@extend %nav-item;
		margin-right: 6px;

		&:hover {
			color: darken($foreground, 40%);
		}
	}
}

.main-search {

	.form {
		display: flex;
		width: 100%;
		max-width: 520px;
		border-bottom: 2px solid #004987;
	}

	.form--control {
		flex: 1 1 auto;
		width: auto;
		min-width: 0;
		appearance: none;
		@extend %control--text;
		@include autofill-positive(#004987, #ffffff);
		@include autofill-size(60px);
		font-weight: 400;
		margin: 0;
		padding: 0;
		line-height: 1;
	}

	.btn--submit-search {
		@extend %btn;
		flex: 0 0 32px;
		width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		.search {
			flex: 0 0 32px;
			width: 32px;
			height: 32px;
			margin: 0;
		}
	}

}

@keyframes clip-right {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes clip-bottom {
	0% {
		clip-path: inset(0 0 100% 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}
