
.header-v2 {

	.header-opening {
		pointer-events: none;
		opacity: 0;
		transition: all ease-in-out 350ms;
		clip-path: inset(0 0 100vh 0);

		// hack IE 11
		display: none;
		&.active {
			display: flex;
			pointer-events: all;
			transition: opacity ease-in-out 350ms;
		}
		@media (-webkit-min-device-pixel-ratio:0) {
			display: flex;

			&.active {
				opacity: 1;
				clip-path: inset(0 0 0 0);
			}
		}
	}

	.main-menu {
		&__picture {
			background: #2f3a67;

			img {
				mix-blend-mode: luminosity;
			}
		}
	}

	.group--main {
		@include media-down(xs) {
			align-items: flex-start;
		}
	}

	.group--menus {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		max-width: 800px;

		@include media-down(xs) {
			width: 200%;
			transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 250ms;

			&.active {
				transform: translateX(-50%);
			}
		}
	}

	.nav--primary-menu,
	.nav--secondary-menu {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
		flex: 1 0 50%;
		max-width: 50%;

		li {
			&>span,
			&>a {
				display: inline-flex;
				align-items: center;
				padding: .19em 0;
				font-weight: 200;
				line-height: 1;
				text-decoration: none;
				cursor: pointer;

				/*
				&:before {
					content: '';
					display: block;
					width: 0;
					height: 2px;
					margin-bottom: -3px;
					background: #f5b335;
					transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 250ms;
				}
				*/

				.badge {
					width: 0;
					transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 250ms;
				}

				&,
				&:link,
				&:active,
				&:focus,
				&:visited,
				&:hover {
					color: currentColor;
				}

				&:hover {
					/*
					&:before {
						width: 0.5em;
					}
					*/
					.badge {
						width: 0.5em;
					}
				}
			}

			&.active {
				&>span,
				&>a {
					/*
					&:before {
						width: 0.5em;
					}
					*/
					.badge {
						width: 0.5em;
					}
				}
			}
		}
	}

	.nav--primary-menu {
		li {
			&>span,
			&>a {
				padding: .19em 0;

				@include media-up(md) {
					font-size: 44px;
				}

				@include media-down(xs) {
					font-size: 36px;
				}
			}
		}
	}

	.nav--secondary-menu {
		li {
			&>span,
			&>a {
				padding: .20em 0;

				@include media-up(md) {
					font-size: 30px;
				}

				@include media-down(xs) {
					font-size: 30px;
				}
			}
		}
	}

	@media screen {
		.main-menu.active {
			.nav--primary-menu,
			.nav--secondary-menu {
				&>li {
					animation: appear-right 250ms 0ms cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;

					@for $i from 1 through 20 {
						&:nth-child(#{$i}) {
							animation-delay: #{100 + $i * 100}ms;
							animation-duration: #{250 + $i * 25}ms;
						}
					}
				}
			}
		}
	}
}

@keyframes appear-right {
	0% {
		// transform: translateX(20px);
		margin-left: 1em;
		opacity: 0;
	}

	100% {
		// transform: translateX(0);
		margin-left: 0;
		opacity: 1;
	}
}

