.section--hero {
	position: relative;
	min-height: calc(100vh - 90px);
	background: black;
	color: white;
}

.slider--hero {
	width: 100%;
	color: #ffffff;

	.slider__bullets {
		display: none;
	}

	.slider__pagination {
		position: fixed;
		display: block;
		width: auto;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		cursor: none;

		.btn--prev,
		.btn--next {
			position: absolute;
			display: none;
			cursor: none;
		}

		&.prev {
			.btn--prev {
				display: block;
			}
		}

		&.next {
			.btn--next {
				display: block;
			}
		}
	}

	cursor: none;

	&.content-over {
		cursor: pointer;

		.slider__pagination {

			.btn--prev,
			.btn--next {
				display: none;
			}
		}
	}

	// hack IE 11
	.card--hero {
		height: calc(100vh - 90px);
	}
	@media (-webkit-min-device-pixel-ratio:0) {
		.card--hero {
			height: auto;
			min-height: calc(100vh - 90px);
		}
	}

	.slider__slide {
		.card--hero {
			.picture {
				cursor: none;

				img {
					opacity: 0;
					transform: scale(1.1, 1.1);
					transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 250ms;
				}
			}

			.title {
				opacity: 0;
				transform: translateY(20px);
				transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 450ms;
			}

			.group--cta {
				opacity: 0;
				transform: translateY(20px);
				transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 650ms;
			}
		}

		&.active {
			.card--hero {
				.picture {
					img {
						opacity: 1;
						transform: scale(1, 1);
					}
				}

				.title,
				.group--cta {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}

.card--hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: #000;
	white-space: normal;

	&>.picture {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&>img,
		&>video {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
		}
	}

	.title {
		@extend %title-hero;
		margin-bottom: 24px;
		color: $foreground-negative;
	}

	p {
		margin: 0;
	}

	& p+p {
		margin-top: 10px;
	}

}

.section--proposition {

	.badge {
		margin-bottom: 24px;
	}

	.title {
		@extend %title-secondary;
		margin-bottom: 40px;
	}

	.abstract {
		margin-bottom: 32px;
	}

	@include media-up(sm) {
		padding: 80px 0;
	}

	@include media-down(xs) {
		padding: 48px 0;

		.col-sm-6 {
			order: 1;
		}

		.col-sm-5 {
			order: 2;
		}

		.picture {
			margin-bottom: 24px;
		}

		.group--cta {
			margin-bottom: 32px;
		}
	}
}

.section--case-studies {
	padding: 0 0 80px 0;

	&__badge {
		margin-bottom: 16px;
	}

	&__title {
		@extend %title-secondary;
		margin-bottom: 32px;
	}
}

.slider--case-studies {
	width: 100%;
	overflow: visible;
	color: #ffffff;

	.slider__slide {
		width: 100% / 12 * 10;
		margin-right: 40px;

		.card--case-study {
			.picture {
				img {
					opacity: 0.8;
					transform: scale(1.1, 1.1);
					transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 250ms;
				}
			}

			.category {
				opacity: 0;
				transform: translateY(20px);
				transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 450ms;
			}

			.title {
				opacity: 0;
				transform: translateY(20px);
				transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 650ms;
			}

			.group--cta {
				opacity: 0;
				transform: translateY(20px);
				transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 350ms 850ms;
			}
		}

		&.active {
			.card--case-study {
				.picture {
					img {
						opacity: 1;
						transform: scale(1, 1);
					}
				}

				.category,
				.title,
				.group--cta {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}

	.slider__pagination {
		display: flex;
		justify-content: space-between;

		.group--right {
			display: flex;
			align-items: center;
		}
	}

	.btn--prev,
	.btn--next {
		width: 40px;
		height: 40px;
		border: 1px solid #152154;
		color: #152154;

		svg {
			width: 7px;
			height: 14px;
			fill: currentColor;
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	.btn--prev+.btn--next {
		border-left: 0;
	}
}

.card--case-study {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	background: #000;
	white-space: normal;

	&>.picture {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&>img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
		}

		@include media-up(sm) {
			@include aspect-clip(1058, 595);
		}

		@include media-down(xs) {
			@include aspect-clip(5, 4);
		}
	}

	&>.container {
		position: absolute;
		bottom: 0;
	}

	.category {
		@extend %category;
		color: $foreground-negative;
	}

	.title {
		@extend %title-secondary;
		max-width: 360px;
		color: $foreground-negative;
	}

	p {
		margin: 0;
	}

	& p+p {
		margin-top: 10px;
	}

	@include media-up(sm) {

		&>.container {
			padding: 40px 48px;
		}
	}

	@include media-down(xs) {

		&>.container {
			padding: 16px;
		}

		.btn--card {
			.label {
				font-size: 16px;
			}
		}
	}
}

.section--listing {
	padding: 0 0 48px 0;
	text-align: center;

	&__badge {
		margin: 0 auto 16px auto;
	}

	&__title {
		@extend %title-secondary;
		margin-bottom: 32px;
	}
}
