
.section--office {
	padding: 80px 0 80px 0;

	.title {
		@extend %title;
	}

	.abstract {
		@extend %abstract;
	}

	.description {
		margin-bottom: 32px;
	}

	.group--cta {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.btn--primary {
		margin-bottom: 24px;
	}

	@include media-up(lg) {
		.title {
			margin-bottom: 40px;
		}

		.abstract {
			margin-bottom: 32px;
		}
	}

	@include media-between(xs, md) {
		.abstract {
			margin-bottom: 32px;
		}
	}

	@include media-down(xs) {
		.group--cta {
			margin-bottom: 32px;
		}
	}
}

.section--office + .section--office {
	padding-top: 0;
}
