.section--hero-portfolio {
	padding: 0 0 48px 0;

	.picture {
		@include aspect-clip(1440, 543);
		margin-bottom: 24px;

		&>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.date {
		margin-bottom: 16px;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		color: #767676;
	}

	.title {
		@extend %title-listing;
	}

	.btn--card {
		font-size: 16px;
	}
}

.section--portfolio {
	padding: 0 0 48px 0;
}

.card--portfolio {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	background: #000;
	white-space: normal;

	&>.picture {

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
		}

		@include media-down(xs) {
			@include aspect-clip(5, 4);
		}
	}

	&>.content {
		position: absolute;
		width: 100%;
	}

	.title {
		@extend %title-secondary;
		margin-bottom: 16px;
		color: $foreground-negative;
	}

	.abstract {
		@extend %abstract;
		color: $foreground-negative;
	}

	.category {
		padding: 5px 13px;
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
		color: $foreground;
		background: white;
		border-radius: 18px;
	}

	.group--bottom {
		display: flex;
		justify-content: space-between;
	}

	p {
		margin: 0;
	}

	& p+p {
		margin-top: 10px;
	}

	&:not(.important) {
		@include media-up(sm) {
			&>.picture {
				@include aspect-clip(664, 380);
			}

			.container {
				padding-top: 16px;
				padding-bottom: 16px;
			}

			.title {
				font-size: 32px;
			}
		}

		@include media-down(xs) {
			&>.picture {
				@include aspect-clip(5, 4);
			}

			.container {
				padding-top: 16px;
				padding-bottom: 16px;
			}
		}
	}

	&.important {
		@include media-up(sm) {
			&>.picture {
				@include aspect-clip(1440, 633);
			}

			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}

		@include media-down(xs) {
			&>.picture {
				@include aspect-clip(5, 4);
			}

			.container {
				padding-top: 16px;
				padding-bottom: 16px;
			}
		}
	}

	@include media-up(sm) {
		margin-bottom: 60px;
	}

	@include media-down(xs) {
		margin-bottom: 40px;
	}
}

.listing--portfolio {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	&>.listing__item {
		margin-bottom: 13px;
	}

	.card--portfolio {
		margin-bottom: 0;
	}

	@include media-up(sm) {
		$gutter: 32px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			margin-bottom: 60px;
			@include as-col(6, 12, $gutter);

			&.important {
				@include as-col(12, 12, $gutter);
			}
		}
	}

	@include media-down(xs) {
		$gutter: 32px;

		&>.listing__item {
			margin-bottom: 40px;
			@include as-col(12, 12, $gutter);
		}
	}
}

.section--footer-divline {
	background: $background-primary;
	color: $foreground-negative;

	.container {
		height: 1px;
		line-height: 0;
		background: rgba(255, 255, 255, 0.1);
	}
}
