body {
	font-family: $font-primary;
	font-weight: $font-light;
	line-height: $line-height;
	background: $background;
	color: $foreground;

	@include media-up(sm) {
		font-size: $font-size;
	}

	@include media-down(xs) {
		font-size: $font-size-xs;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
    padding: 0;
}

%title-hero {
	@extend %reset-link;
	font-size: 48px;
	line-height: 1.2;

	@include media-up(sm) {
	}

	@include media-down(xs) {
	}
}

%title {
	@extend %reset-link;
	line-height: 1.2;

	@include media-up(lg) {
		font-size: 48px;
		margin-bottom: 24px;
	}

	@include media-between(xs, md) {
		font-size: 40px;
		margin-bottom: 20px;
	}

	@include media-down(xs) {
		font-size: 32px;
		margin-bottom: 16px;
	}
}

%title-secondary {
	@extend %reset-link;
	line-height: 1.2;

	@include media-up(lg) {
		font-size: 40px;
		margin-bottom: 24px;
	}

	@include media-between(xs, md) {
		font-size: 34px;
		margin-bottom: 20px;
	}

	@include media-down(xs) {
		font-size: 28px;
		margin-bottom: 16px;
	}
}

%title-listing {
	@extend %reset-link;
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 24px;
}

%abstract {
	line-height: 1.2;

	@include media-up(lg) {
		font-size: 24px;
	}

	@include media-between(xs, md) {
		font-size: 22px;
	}

	@include media-down(xs) {
		font-size: 20px;
	}
}

%abstract-listing {
	@extend %reset-link;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 8px;
}

%category {
	line-height: 1.2;

	@include media-up(sm) {
		font-size: 24px;
		margin-bottom: 24px;
	}

	@include media-down(xs) {
		font-size: 16px;
		margin-bottom: 8px;
	}
}

/*
body {
	font-family: $font-primary;
	font-weight: $font-light;
	line-height: $line-height;
	background: $background;
	color: $foreground;

	@include media-up(sm) {
		font-size: $font-size;
	}

	@include media-down(xs) {
		font-size: $font-size-xs;
	}
}

b,
strong {
	font-weight: $font-semibold;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
	font-family: $font-primary;
	font-weight: $font-semibold;
}

.h1 {
	font-size: 4rem;
	line-height: 1;
	margin-bottom: 40px;
}

.h2 {
	font-size: 3.5rem;
	line-height: 1;
	margin-bottom: 30px;
}

.h3 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.h4 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.h5 {
	font-size: 2rem;
}

.h6 {
	font-size: 1.5rem;
}

*/
